:{$PORT:80} {
    encode gzip

    # Backend API routes
    handle /api/* {
        reverse_proxy 127.0.0.1:8787
    }

    # Frontend Single Page App (Static Server with SPA Routing)
    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}
